@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* + * {
	margin: 1em 0 0;
}

html {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222;
}

body {
	background-color: #fafafa;
}

.container {
	width: 100%;
	max-width: 180em;
	padding: 0 2em;
	margin: 0 auto;
}
